.login_page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #f5f5f5;
}

.login_page h1 {
    margin-bottom: 2rem;
    font-size: 2rem;
    color: #333;
    text-align: center;
}

.login_form {
    display: flex;
    flex-direction: column;
    background: white;
    border-radius: 1.25rem;
    padding: 2rem;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.3);

    max-width: 400px;
    width: 100%;
    margin: 0 auto;
}

.login_form input {
    padding: 10px 20px;
    margin: 10px 0;
    border: 1px solid #888;
    border-radius: 99px;
    line-height: 1.25rem;
    font-size: 1rem;
}

.login_form input[type="submit"] {
    padding: 10px;
    margin: 40px 0 10px 0px;
    border: none;
    border-radius: 5px;
    background: #71c4ef;
    cursor: pointer;
    border-radius: 99px;
    height: 40px;
}

.logout_page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #f5f5f5;
}

.logout_btn {
    width: 200px;
    margin: 20px 0 10px 0px;
    border: none;
    background: #dda836;
    cursor: pointer;
    border-radius: 99px;
    height: 40px;
    color: white;
    font-size: 1.1rem;
}